<footer>
    <ul>
        <li class="first-footer-li">stay connected with us night club</li>
        <div class="otherLis">
            <li><a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="https://twitter.com/"><i class="fab fa-twitter"></i></a></li>
            <li><a href="https://myaccount.google.com/"><i class="fab fa-google-plus-g"></i></a></li>
            <li><a href="https://www.skype.com/en/"><i class="fab fa-skype"></i></a></li>
            <li><a href="https://www.blogger.com/dashboard/reading?bpli=1&pli=1"><i class="fab fa-blogger-b"></i></a></li>
        </div>
        <li class="last-footer-li">CopyRight @ 2018 NightClub psd all right</li>
    </ul>
</footer>