<nav>
    <img src="assets/Logo.png" alt="Night club logo">
    <ul><!--remember if time add gradient triangles-->
        <li><a href="index.html">home</a></li>
        <li><a href="">about us</a></li>
        <li><a href="">blog</a></li>
        <li><a href="">events</a></li>
        <li><a href="">gallery</a></li>
        <li><a href="">book table</a></li>
        <li><a href="">contact us</a></li>
    </ul>
</nav>