<nav>
    <a href="index.html"><img src="assets/images/Logo.png" alt="Night club logo"></a>
    <i class="fas fa-bars dropdown"></i>
    <ul><!--remember to add gradient triangles-->
        <li class="navUl1"><a href="index.html">home</a></li>
        <li class="navUl2"><a href="">about us</a></li>
        <li class="navUl3"><a href="blog-archive.html">blog</a></li>
        <li class="navUl4"><a href="">events</a></li>
        <li class="navUl5"><a href="">gallery</a></li>
        <li class="navUl6"><a href="book.html">book table</a></li>
        <li class="navUl7"><a href="contact.html">contact us</a></li>
    </ul>
</nav>