<%- include('../partials/head') %>
    <link rel="stylesheet" href="assets/css/book/book.css">
</head>
    <body>
    <div id="wrapper">
        <%- include('../partials/hoved-navigation') %>

        <section id="book-table">
            <h2>book table</h2>
            <img src="./assets/images/bottom_line2.png" alt="pink line" class="little-pink-line">

        </section>

        <section id="book-a-table">
            <h2>book a table</h2>
            <form action="javascript:alert('You have booked at table!')" method="post" class="form validate" onsubmit="return validate()">
                <input name="name" class="form__name" placeholder="Your Name" required>
                    
                <input type="email" name="emailaddress" class="form__email" placeholder="Your Email" required>

                <input type="text" name="table-number" class="form__table_number" placeholder="Table Number" required>

                <input type="text" name="number-of-guests" class="form__guests" placeholder="Number og guests" required>

                <input type="text" class="form__date" onfocus="(this.type='date')" placeholder="Select Date" required>

                <input type="text" name="contact-number" class="form__contact" placeholder="Your Contact Number" required>

                <textarea name="message" class="form__message" rows="5"></textarea>
            
                <button type="submit">reserve</button>
            </form>
        </section>
    </div>
    <script src="./assets/js/book-table-form.js"></script>
<%- include('../partials/last') %>