<%- include('../partials/head') %>
    <link rel="stylesheet" href="assets/css/index/index.css">
</head>
    <body>
        <div id="wrapper">
            <%- include('../partials/hoved-navigation') %>
            <section id="contact-us">
                <h2>contact us</h2>
                <img src="./assets/images/bottom_line2.png" alt="pink line" class="little-pink-line">

                <form action="">

                </form>
            </section>

            <%- include('../partials/footer') %>
        </div>
<%- include('../partials/last') %>
