<%- include('../partials/head') %>
    <link rel="stylesheet" href="assets/css/index/index.css">
</head>
    <body>
    <div id="wrapper">
        <header>
            <div class="hero-img">
                <img src="./assets/images/icon/Logo.svg" alt="Night Club" class="night-club-logo">
                <h1>have a good time</h1>
                <img src="./assets/images/bottom_line.png" alt="pink line" class="pink-line-header">
            </div>
            <img src="./assets/images/loader/madbars.gif" alt="loader" class="loader header-hide">
        </header>
        
        <%- include('../partials/hoved-navigation') %>

        <section id="welcome-to-night-club">
            <h1>welcome in night <span class="pink">club</span></h1>
            <img src="./assets/images/bottom_line2.png" alt="pink line" class="little-pink-line">
            <div id="welcome_three_imgs">
                <img src="./assets/images/content-img/thumb1.jpg" alt="night club" class="section1-img1">
                <div class="black-box b-box1">
                    <i class="fas fa-glass-cheers black-box1-i"></i>
                    <h3 class="black-box1-h3">Night Club</h3>
                    <p class="black-box1-p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio iste voluptate, veniam dolor eligendi sapiente nesciunt reprehenderit tempora repellat rerum quas facere culpa molestias atque assumenda beatae, molestiae quisquam voluptatum!</p>
                </div>
                <img src="./assets/images/content-img/reastaurant_1.jpg" alt="restaurant" class="section1-img2">
                <div class="black-box b-box2">
                    <i class="far fa-lemon black-box2-i"></i>
                    <h3 class="black-box2-h3">Restaurant</h3>
                    <p class="black-box2-p">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt eius quasi repellat sequi placeat nam perferendis iusto pariatur! Molestiae doloremque ipsa rerum voluptate, modi blanditiis tenetur autem alias provident vero!</p>
                </div>
                <img src="./assets/images/content-img/thumb2.jpg" alt="bar" class="section1-img3">
                <div class="black-box b-box3">
                    <i class="fas fa-exclamation black-box3-i"></i>
                    <h3 class="black-box3-h3">Bar</h3>
                    <p class="black-box3-p">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus accusamus quisquam asperiores accusantium minus veniam quos, animi alias, excepturi quas ipsa autem qui fuga aut, incidunt recusandae voluptates consectetur. Aperiam!</p>
                </div>
            </div>
        </section>

        <section id="events-of-the-month">
            <h2>events of the month</h2>
            <img src="./assets/images/bottom_line2.png" alt="pink line" class="little-pink-line">
            <div id="events-imgs">
                <div class="events-imgs events-img1-2">
                    <div class="box-and-img">
                        <img src="./assets/images/content-img/event-thumb1.jpg" alt="put in with js" class="event-image">
                        <button>Book Now</button>
                        <div class="events-text">
                            <!--getting from API-->
                        </div>
                        <div class="pink-box pink-box1">
                            <!--getting from API-->
                        </div>
                    </div>
                    <div class="box-and-img">
                        <img src="./assets/images/content-img/event-thumb2.jpg" alt="put in with js" class="event-image">
                        <button>Book Now</button>
                        <div class="events-text">
                            <!--getting from API-->
                        </div>
                        <div class="pink-box pink-box2">
                            <!--getting from API-->
                        </div>
                    </div>
                </div>
                <div class="events-imgs events-img3-4 hide">
                    <div class="box-and-img">
                        <img src="./assets/images/content-img/event-thumb3.jpg" alt="put in with js" class="event-image">
                        <button>Book Now</button>
                        <div class="events-text">
                            <!--getting from API-->
                        </div>
                        <div class="pink-box pink-box3">
                            <!--getting from API-->
                        </div>
                    </div>
                    <div class="box-and-img">
                        <img src="./assets/images/content-img/event-thumb4.jpg" alt="put in with js" class="event-image">
                        <button>Book Now</button>
                        <div class="events-text">
                            <!--getting from API-->
                        </div>
                        <div class="pink-box pink-box4">
                            <!--getting from API-->
                        </div>
                    </div>
                </div>
                <div class="events-imgs events-img5-6 hide">
                    <div class="box-and-img">
                        <img src="./assets/images/content-img/event-thumb5.jpg" alt="put in with js" class="event-image">
                        <button>Book Now</button>
                        <div class="events-text">
                            <!--getting from API-->
                        </div>
                        <div class="pink-box pink-box5">
                            <!--getting from API-->
                        </div>
                    </div>
                    <div class="box-and-img">
                        <img src="./assets/images/content-img/event-thumb6.jpg" alt="put in with js" class="event-image">
                        <button>Book Now</button>
                        <div class="events-text">
                            <!--getting from API-->
                        </div>
                        <div class="pink-box pink-box6">
                            <!--getting from API-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="progress-boxes">
                <div class="progress-box box1 pink"></div>
                <div class="progress-box box2"></div>
                <div class="progress-box box3"></div>
            </div>
        </section>

        <section id="night-club-gallery">
            <h2>night club gallery</h2>
            <img src="./assets/images/bottom_line2.png" alt="pink line" class="little-pink-line">
            <div class="billede-gallery">
                <!--henter fra apiet-->
            </div>
            <div class="billede-gallery2">
                <!--henter fra apiet-->
            </div>
        </section>

        <section id="night-club-track">
            <h2>night club track</h2>
            <img src="./assets/images/bottom_line2.png" alt="pink line" class="little-pink-line">
            <audio controls>
                <source src="./assets/images/media/YouBelongWithMe.mp3" type="audio/mp3">
            </audio> 
        </section>

        <section id="latest-video">
            <h2>latest video</h2>
            <img src="./assets/images/bottom_line2.png" alt="pink line" class="little-pink-line">
            <div class="video">
                <video width="60%" height="auto" controls>
                    <source src="./assets/images/media/space.mp4" type="video/mp4">
                </video> 
            </div>
            <div class="no-video hide">
                <img src="./assets/images/bg/no_video.jpg" alt="no video" class="no-video-img">
            </div>
            <div class="video-buttons">
                <img src="./assets/images/icon/Play.svg" alt="previous" class="prev">
                <img src="./assets/images/icon/Play.svg" alt="next" class="next">
            </div>
        </section>

        <section id="testimonials">
            <div class="testimonials-api-info">
                <!--henter fra apiet-->
            </div>

            <div class="progress-boxes">
                <div class="progress-box box1 pink"></div>
                <div class="progress-box box2"></div>
                <div class="progress-box box3"></div>
            </div>
        </section>

        <section id="recent-blog">
            <h2>recent blog</h2>
            <img src="./assets/images/bottom_line2.png" alt="pink line" class="little-pink-line">
            <div class="recent-blog-insert">
                <!--henter fra apiet-->
            </div>
        </section>

        <section id="newsletter">
            <h4>want the latest night club news</h4>
            <p>Subscribe to our newsletter and neer miss a <span class="pink">Event</span></p>
            <form method="post" action="http://localhost:4000/newsletters" target="_blank"  onsubmit="javascript:alert('Thank you for subscribing to our newsletter!')">
                <input type="email" name="email" placeholder="enter your email" required pattern=".+\.[a-z]{2,}$" id="newsletter-email">
                <button id="button">subscribe</button>
            </form>
        </section>

        <%- include('../partials/footer') %>
    </div>
    <script src="./assets/js/events-of-the-month.js"></script>
    <script src="./assets/js/hero.js"></script>
    <script src="./assets/js/hover-section1.js"></script>
    <script src="./assets/js/billedeGallery.js"></script>
    <script src="./assets/js/testimonials.js"></script>
    <script src="./assets/js/resent-blog.js"></script>
    <script src="./assets/js/video-gallery.js"></script>

<%- include('../partials/last') %>