<%- include('../partials/head') %>
    <link rel="stylesheet" href="assets/css/index/index.css">
</head>
    <body>
    <div id="wrapper">
        <header>
            <img src="assets/Logo.svg" alt="">
        </header>
        
        <%- include('../partials/hoved-navigation') %>

        <section id="welcome-to-night-club">
            <h1>welcome in night <span class="pink">club</span></h1>
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
        </section>

        <section id="night-club-gallery">
            <img src="" alt="">
        </section>

        <section id="night-club-track">

        </section>

        <section id="latest-video">

        </section>


    </div>

<%- include('../partials/last') %>