<%- include('../partials/head') %>
    <link rel="stylesheet" href="assets/css/index/index-general.css">
</head>
    <body>
    <div id="wrapper">
        <%- include('../partials/hoved-navigation') %>

    </div>

<%- include('../partials/last') %>