<%- include('../partials/head') %>
    <link rel="stylesheet" href="assets/css/index/index.css">
</head>
    <body>
    <div id="wrapper">
        <header>
            <img src="../../Logo.svg" alt="">
        </header>
        
        <%- include('../partials/hoved-navigation') %>

        <section id="welcome-to-night-club">
            <h1>welcome in night <span class="pink">club</span></h1>
            <img src="./assets/images/bottom_line2.png" alt="pink line" class="little-pink-line">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
        </section>

        <section id="events-of-the-month">
            <h2>events of the month</h2>
            <img src="./assets/images/bottom_line2.png" alt="pink line" class="little-pink-line">
        </section>

        <section id="night-club-gallery">
            <h2>night club gallery</h2>
            <img src="./assets/images/bottom_line2.png" alt="pink line" class="little-pink-line">
            <img src="" alt="">
        </section>

        <section id="night-club-track">
            <h2>night club track</h2>
            <img src="./assets/images/bottom_line2.png" alt="pink line" class="little-pink-line">
        </section>

        <section id="latest-video">
            <h2>latest video</h2>
            <img src="./assets/images/bottom_line2.png" alt="pink line" class="little-pink-line">
        </section>

        <section id="recent-blog">
            <h2>recent blog</h2>
            <img src="./assets/images/bottom_line2.png" alt="pink line" class="little-pink-line">

        </section>

    </div>

<%- include('../partials/last') %>