header{
    background: url("../../images/bg/header_bg_2.jpg");
    background-repeat: no-repeat;
    height:671px;
    width:auto;
    h1{
        letter-spacing:0.675em;
    }
    img{
        display: block;
        margin:auto;
    }
    .night-club-logo{
        padding-top: 24%;
    }
    .pink-line-header{
        width:43%;
        height: auto;
    }
}