#welcome_three_imgs{
    display:grid;
    grid-template-columns:repeat(3, 30%);
    grid-template-rows:100%;
    gap:3%;
    margin:2% 10%;
    color:var(--grey);
    text-align:center;
    img{
        width:100%;
    }
    .b-box1, .b-box2, .b-box3{
        display:none;
    }
    .black-box{
        padding:7%;
        border:solid 2px var(--pink);
        background-color:var(--black);
        margin:0 5%;
        width:100%;
        h3{
            text-transform:uppercase;
            padding:10% 0;
        }
        p{
            padding:10% 0 15% 0; 
        }
        i{
            border:solid 2px var(--pink);
            padding:5%;
            color:var(--pink);
            margin:15% 0 10% 0;
        }
    }
}
@media only screen and (max-width: 540px) {
    #welcome_three_imgs{
        display:flex;
        justify-content: space-between;
        flex-direction: column;
        width: 80%;
        margin: 0 auto;
        img, .black-box{
            margin:5% 0;
        }
    }
} 