footer ul{
    display:flex;
    justify-content:space-evenly;
    flex-direction:row;
    padding-bottom:15px;
    .fab{
        padding:6px;
        border:solid var(--white) 2px;
        font-size:15px;
    }
    .fa-facebook-f{
        padding:6px 8.6px;
    }
    li{
        color:var(--white);
        list-style:none;
        a{
            color:var(--white);
            text-decoration: none;
        }
    }
    .first-footer-li{
        text-transform: capitalize;
        margin-right:auto;
    }
    .last-footer-li{
        margin-left:auto;
    }
}
@media only screen and (max-width: 713px) {
    footer ul li{
        font-size:12px;
    }
}
@media only screen and (max-width: 540px) {
    footer ul{
        flex-direction:column;
    }
    footer ul li{
        margin:1% auto;
    }
}