nav{
    display:flex;
    justify-content:space-around;
    border-bottom: solid 1px var(--pink);
    border-top: solid 1px var(--pink);
    padding:25px 0;
    margin-bottom:50px;
    background: linear-gradient(
  	135deg, var(--black) 96%, var(--pink) 30%);
    ul{
        display:flex;
        justify-content:space-evenly;
        li{
            list-style: none;
            text-transform: uppercase;
            a{
                color:var(--white);
                text-decoration: none;
                padding:0 25px;
            }
        }
}
} 