form {
    margin:15px 0;
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows:repeat(3, 1fr) 2fr 1fr;
    gap:10px;
    input{
        color:var(--grey);
        padding:0 2%;
    }
    textarea{
        grid-column: span 2;
    }
    button{
        color:var(--white);
        font-weight:bold;
        grid-column:2;
        place-self:end;
        height:100%;
        width:30%;
        border-top:3px solid var(--white);
        border-bottom:3px solid var(--white);
        border-left:0;
        border-right:0;
        text-transform: uppercase;
    }
}